.el-dialog__body
    padding-top 0

.verificationModalContainer{
  width: 402px;
  height: 100%;
  overflow-y: scroll;
  .closeModal{
    float: right;
    font-size: 21px;
    color: black;
    position: relative;
    top: -13px;
    left: 10px;
    &:hover{
      cursor pointer
    }
  }
  .formTitleVerifyModal{
    font-size 23px
    margin:0;
  }
  .imageWrapper{
    width: 100px;
    height: 100px;
    margin-left: calc((100% - 100px) / 2);
      img{
        width: 100px;
        height: 100px;
      }
  }
  .el-upload-dragger{
    width: 90%;
    height: 103px;
   .el-icon-upload{
     margin: 5px 0 16px;
   }
  }
  .el-form-item__content{
    line-height: 19px;
  }
  .el-button{
    float none
  }
}

