.graph__account{
	background-color: #fff;
	width: 300px;
	height: 120px
	#graph_account{
		width:300px;
		height:100px;
	}
	.labels{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		label{
			font-size: 14px;
			color: #ccc;
		}
	}
}