.el-dialog__body
    padding-top 0

.oneRowInTheModal{
  .modal-body{
    display flex;
    justify-content center;
  }
}
.resetPasswordForm{
  position relative;
  bottom:25px;
  button{
    padding: 4px;
    width: 89px;
    height: 30px;
  }
}